@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #c8d6e1;
  --color-text: black;
  --color-primary: #4a99dd;
  --color-primary-variant: #7361bd;
  --color-attention: #ea6390;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
