.posts {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.privateCheck {
  display: flex;
  width: 145%;
}
.posts label {
  text-align: left;
  display: block;
}

.posts input,
.posts textarea,
.posts select {
  width: 400px;
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.posts button {
  background: var(--color-primary-variant);
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.checkbox {
  width: 45px !important;
  font-size: 20px;
}
